.headline_sb {
  font-size: 30px;
  font-weight: 600;
}
.title_sb {
  font-size: 24px;
  font-weight: 600;
}
.title_m {
  font-size: 24px;
  font-weight: 500;
}
.subtitle_sb {
  font-size: 20px;
  font-weight: 600;
}
.subtitle_m {
  font-size: 20px;
  font-weight: 500;
}
.body1_sb {
  font-size: 18px;
  font-weight: 600;
}
.body1_m {
  font-size: 18px;
  font-weight: 500;
}
.body2_sb {
  font-size: 16px;
  font-weight: 600;
}
.body2_m {
  font-size: 16px;
  font-weight: 500;
}
.body2_r {
  font-size: 16px;
  font-weight: 400;
}
.body3_sb {
  font-size: 15px;
  font-weight: 600;
}
.body3_m {
  font-size: 15px;
  font-weight: 500;
}
.body3_r {
  font-size: 15px;
  font-weight: 400;
}
.button1_sb {
  font-size: 18px;
  font-weight: 600;
}
.button1_m {
  font-size: 18px;
  font-weight: 500;
}
.button2_sb {
  font-size: 16px;
  font-weight: 600;
}
.button2_m {
  font-size: 16px;
  font-weight: 500;
}
.button3_sb {
  font-size: 15px;
  font-weight: 600;
}
.button3_m {
  font-size: 15px;
  font-weight: 500;
}
.caption1_sb {
  font-size: 14px;
  font-weight: 600;
}
.caption1_m {
  font-size: 14px;
  font-weight: 500;
}
.caption1_r {
  font-size: 14px;
  font-weight: 400;
}
.caption2_r {
  font-size: 13px;
  font-weight: 400;
}
